<section class="bg-white px-8 py-8">
    <div class="pb-8 relative flex items-center justify-center">
        <h1 class="text-blue-950 font-extrabold text-center text-xl sm:text-2xl">Product Variant</h1>
        <div class="absolute right-0 flex items-center gap-0 sm:gap-2">
            @if(filterApplied()){
            <button type="button" class="p-2 hover:bg-gray-100 cursor-pointer rounded-md" (click)="resetFilters()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </button>
            }
            <button (click)="toggleFilterPanel()" class="hover:bg-gray-100 cursor-pointer rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-blue-950" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
        </div>
    </div>

    <app-filter-component [open]="filterPanelOpen()" [errorMessage]="filterErrorMessage()" title="Variant Filters"
        (close)="closeFilterPanel()" (toggle)="toggleFilterPanel()" (apply)="applyFilters()" (reset)="resetFilters()">

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Search</label>
            <input type="text" placeholder="Product name..." [formField]="filterForm.searchTerm"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" />

        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">SKU</label>
            <input type="text" placeholder="SKU..." [formField]="filterForm.sku"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            @if (filterForm.sku().invalid()) {
            <p class="text-red-600 text-xs mt-1">
                {{ filterForm.sku().errors()[0].message }}
            </p>
            }
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Product Status</label>
            <select (change)="onProductStatusChange($event)" [value]="productStatusId() ?? ''"
                class="border border-gray-400 rounded-md px-3 py-2 w-full">
                <option value="">All</option>
                @for(opt of productStatusOptions; track opt.id) {
                <option [value]="opt.id">{{opt.label}}</option>
                }
            </select>
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Approval Status</label>
            <select (change)="onApprovalStatusChange($event)" [value]="draftstatus() ?? ''"
                class="border border-gray-400 rounded-md px-3 py-2 w-full">
                <option value="">All</option>
                @for(opt of approvalStatusOptions; track opt.id) {
                <option [value]="opt.id">{{opt.label}}</option>
                }
            </select>
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Product ID</label>
            <input type="number" placeholder="Product ID..." [formField]="filterForm.productId"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            @if (filterForm.productId().invalid()) {
            <p class="text-red-600 text-xs mt-1">
                {{ filterForm.productId().errors()[0].message }}
            </p>
            }

        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Vendor ID</label>
            <input type="number" placeholder="Vendor ID" [formField]="filterForm.VendorId"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            @if (filterForm.VendorId().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.VendorId().errors()[0].message }}</p>
            }
        </div>


        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Category</label>
            <select (change)="onCategoryChange($event)" [value]="productCategoryId() ?? ''"
                class="border border-gray-400 rounded-md px-3 py-2 w-full">
                <option value="">All</option>
                @for(cat of categories(); track cat.productCategoryId) {
                <option [value]="cat.productCategoryId">
                    {{cat.productCategoryName}}
                </option>
                }
            </select>
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Sub Category</label>
            <select (change)="onSubcategoryChange($event)" [value]="productSubCategoryId() ?? ''"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" [disabled]="!productCategoryId()">
                @if(!productCategoryId()) {
                <option value="">Select category first</option>
                } @else {
                <option value="">All</option>
                }

                @for(sub of subCategories(); track sub.productSubCategoryId) {
                <option [value]="sub.productSubCategoryId">
                    {{sub.productSubCategoryName}}
                </option>
                }
            </select>
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Minimum Quantity Per User</label>
            <input type="number" placeholder="Quantity" [formField]="filterForm.minimuQuantityPerUser"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            @if (filterForm.minimuQuantityPerUser().invalid()) {
            <p class="text-red-600 text-xs mt-1">
                {{ filterForm.minimuQuantityPerUser().errors()[0].message }}
            </p>
            }
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Price Range</label>
            <div class="flex gap-2">
                <input type="number" placeholder="Min" [formField]="filterForm.minPrice"
                    class="border border-gray-400 rounded-md px-3 py-2 w-full" />

                <input type="number" placeholder="Max" [formField]="filterForm.maxPrice"
                    class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            </div>
            @if (filterForm.minPrice().invalid()) {
            <p class="text-red-600 text-xs mt-1">
                {{ filterForm.minPrice().errors()[0].message }}
            </p>
            }
            @if (filterForm.maxPrice().invalid()) {
            <p class="text-red-600 text-xs mt-1">
                {{ filterForm.maxPrice().errors()[0].message }}
            </p>
            }
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Available Quantity</label>
            <div class="flex gap-2">
                <input type="number" placeholder="Min" [formField]="filterForm.minAvailableQuantity"
                    class="border border-gray-400 rounded-md px-3 py-2 w-full" />

                <input type="number" placeholder="Max" [formField]="filterForm.maxAvailableQuantity"
                    class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            </div>
            @if (filterForm.minAvailableQuantity().invalid()) {
            <p class="text-red-600 text-xs mt-1">
                {{ filterForm.minAvailableQuantity().errors()[0].message }}
            </p>
            }
            @if (filterForm.maxAvailableQuantity().invalid()) {
            <p class="text-red-600 text-xs mt-1">
                {{ filterForm.maxAvailableQuantity().errors()[0].message }}
            </p>
            }
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Reserved Quantity</label>
            <div class="flex gap-2">
                <input type="number" placeholder="Min" [formField]="filterForm.minReservedQuantity"
                    class="border border-gray-400 rounded-md px-3 py-2 w-full" />

                <input type="number" placeholder="Max" [formField]="filterForm.maxReservedQuantity"
                    class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            </div>
            @if (filterForm.minReservedQuantity().invalid()) {
            <p class="text-red-600 text-xs mt-1">
                {{ filterForm.minReservedQuantity().errors()[0].message }}
            </p>
            }@if (filterForm.maxReservedQuantity().invalid()) {
            <p class="text-red-600 text-xs mt-1">
                {{ filterForm.maxReservedQuantity().errors()[0].message }}
            </p>
            }
        </div>

        <div class="flex items-center gap-2">
            <input type="checkbox" id="hasIssues" [checked]="hasIssues()" (change)="onHasIssuesChange($event)" />
            <label for="hasIssues" class="text-sm font-semibold text-gray-700">
                Has Issues
            </label>
        </div>

        <div class="flex items-center gap-2">
            <input type="checkbox" id="availableForSale" [checked]="isAvailableForSale()"
                (change)="onAvailableForSaleChange($event)" />
            <label for="availableForSale" class="text-sm font-semibold text-gray-700">
                Available For Sale
            </label>
        </div>

        <div class="flex items-center gap-2">
            <input type="checkbox" id="isReturn" [checked]="isReturn()" (change)="onIsReturnChange($event)" />
            <label for="isReturn" class="text-sm font-semibold text-gray-700">
                Is Return
            </label>
        </div>

        <div class="flex items-center gap-2">
            <input type="checkbox" id="isExchange" [checked]="isExchange()" (change)="onIsExchangeChange($event)" />
            <label for="isExchange" class="text-sm font-semibold text-gray-700">
                Is Exchange
            </label>
        </div>

    </app-filter-component>

    <app-review-popup-component [show]="showReviewPopup()" title="Review Product Variant" [showAiCheck]="true"
        [aiReview]="aiReview()" [loadingAi]="loadingAi()"
        message="Review this product variant by selecting an approval status and providing your remarks. Your review will update the product's approval status."
        confirmText="Submit Review" [statusField]="reviewForm.approvalStatusId" [statusOptions]="approvalStatusOption"
        [remarkField]="reviewForm.remarks" [loading]="progress()" [errorMessage]="errorMessage() ?? ''"
        [successMessage]="successMessage()?? '' " (confirm)="onConfirmReview()" (cancel)="onCancelReview()"
        (aiCheckRequested)="runAiReview(reviewProductVariantModel().productVariantId)">
    </app-review-popup-component>


    <app-data-table-component [columns]="columns" [rows]="variant()?.items ?? []" [actions]="actions"
        (action)="handleAction($event)">
    </app-data-table-component>

    <app-mobile-card-component [columns]="mobileColumns" [rows]="variant()?.items ?? []" [actions]="actions"
        [titleKey]="'productId'" (action)="handleAction($event)">
    </app-mobile-card-component>

    <app-pagination-component [pageNumber]="pageNumber()" [totalPages]="totalPages()"
        [totalCount]="variant()?.totalCount ?? 0" [pageSize]="pageSize()" (previous)="previousPage()"
        (next)="nextPage()" (pageSizeChange)="onPageSizeChanged($event)">
    </app-pagination-component>
</section>