<section class="bg-white p-8">
    <app-header-component [title]="pageTitle()" [filterApplied]="filterApplied()" (toggle)="toggleFilterPanel()"
        (reset)="resetFilters()">
    </app-header-component>

    <app-filter-component [open]="filterPanelOpen()" title="Attribute Filters" (close)="closeFilterPanel()"
        [errorMessage]="filterErrorMessage()" (toggle)="toggleFilterPanel()" (apply)="applyFilters()"
        (reset)="resetFilters()">

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Search (Code / Description)</label>
            <input type="text" placeholder="Search coupons" [formField]="filterForm.search"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            @if (filterForm.search().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.search().errors()[0].message }}</p>
            }
        </div>
        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Coupon Type</label>
            <select (change)="onCouponTypeChange($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full">
                <option value="">All</option>
                @for(opt of couponTypeOption; track opt.id){
                <option [value]="opt.id" [selected]="couponTypeId() == opt.id">{{opt.label}}</option>
                }
            </select>
        </div>
        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Discount Value</label>
            <div class="flex gap-4">
                <input type="number" placeholder="Min" [formField]="filterForm.minDiscountValue"
                    (keydown)="allowOnlyDecimals($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />

                <input type="number" placeholder="Max" [formField]="filterForm.maxDiscountValue"
                    (keydown)="allowOnlyDecimals($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            </div>
            @if (filterForm.minDiscountValue().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.minDiscountValue().errors()[0].message }}</p>
            }
            @if (filterForm.maxDiscountValue().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.maxDiscountValue().errors()[0].message }}</p>
            }
        </div>
        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Min Order Amount</label>
            <div class="flex gap-4">
                <input type="number" placeholder="Min" [formField]="filterForm.minOrderAmount"
                    (keydown)="allowOnlyDecimals($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />

                <input type="number" placeholder="Max" [formField]="filterForm.maxOrderAmount"
                    (keydown)="allowOnlyDecimals($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />

            </div>
            @if (filterForm.minOrderAmount().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.minOrderAmount().errors()[0].message }}</p>
            }
            @if (filterForm.maxOrderAmount().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.maxOrderAmount().errors()[0].message }}</p>
            }
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Valid From</label>
            <input type="date" (change)="onValidFromChange($event)"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" />

        </div>
        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Valid To</label>
            <input type="date" (change)="onValidToChange($event)"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" />
        </div>
        <div>
            <label class="text-sm font-semibold text-gray-700 mb-1">Expired</label>
            <select (change)="onExpiredChange($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full">
                <option value="">All</option>
                <option value="true" [selected]="isExpired() === true">Expired</option>
                <option value="false" [selected]="isExpired() === false">Not Expired</option>
            </select>
        </div>
        <div>
            <label class="text-sm font-semibold text-gray-700 mb-1">Status</label>
            <select (change)="onStatusChange($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full">
                <option value="">All</option>
                <option value="true" [selected]="isActive() === true">Active</option>
                <option value="false" [selected]="isActive() === false">Inactive</option>
            </select>
        </div>
    </app-filter-component>

    @if (tableLoading()) {
    <div class="flex flex-col items-center justify-center py-16 gap-3 text-gray-400">
        <svg class="animate-spin w-8 h-8 text-blue-700" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
        </svg>
        <p class="text-sm font-medium">Loading coupons...</p>
    </div>
    } @else {


    <app-data-table-component [columns]="columns" [rows]="coupons()?.items ?? []" [actions]="actions()"
        (action)="handleAction($event)">
    </app-data-table-component>

    <app-mobile-card-component [columns]="mobileColumns" [rows]="coupons()?.items ?? []" [actions]="actions()"
        (action)="handleAction($event)" [titleKey]="'couponId'">
    </app-mobile-card-component>
    }

    <app-pagination-component [pageNumber]="pageNumber()" [totalPages]="totalPages()"
        [totalCount]="coupons()?.totalCount ?? 0" [pageSize]="pageSize()" (previous)="previousPage()"
        (next)="nextPage()" (pageSizeChange)="onPageSizeChanged($event)">
    </app-pagination-component>

    <app-popup-component [show]="showPopup()" [title]="popupTitle()" [titleClass]="titleClass()"
        [message]="popupMessage()" [confirmText]="popupConfirmText()" [cancelText]="'Cancel'" [loading]="progress()"
        [loadingText]="loadingText()" [successMessage]="successMessage()" [errorMessage]="errorMessage() ?? '' "
        [confirmButtonClass]="popupButtonClass()" (confirm)="confirmPopup()" (cancel)="closePopup()">
    </app-popup-component>


    @if (showUpdateCouponPopup()) {
    <app-update-coupon-component [couponId]="selectedCouponIdForUpdate()" (closed)="closeUpdateCouponPopup()"
        (updated)="onCouponUpdated()">
    </app-update-coupon-component>
    }
</section>