<section class="bg-white p-2 md:px-6 lg:px-8 mt-4 lg:py-4">

    <div class="pb-4 flex items-center justify-center">
        <h1 class="text-blue-950 font-extrabold text-center text-xl sm:text-2xl">
            Add Coupon
        </h1>
    </div>

    <div class="flex justify-center px-2">
        <div class="bg-white rounded-2xl shadow-2xl shadow-white/30 w-full max-w-4xl px-8 py-4 sm:p-8 space-y-6">

            @if(errorMessage()) {
            <div class="bg-red-600 px-4 py-3 rounded-md text-white text-center font-bold">
                {{ errorMessage() }}
            </div>
            }
            @if(successMessage()) {
            <div class="bg-green-600 px-4 py-3 rounded-md text-white text-center font-bold">
                {{ successMessage() }}
            </div>
            }
            <form class="flex flex-col gap-5">
                <div class="flex gap-4 flex-col sm:flex-row">
                    <div class="flex-1">
                        <label class="font-bold text-md sm:text-md sm:text-lg mb-2 block">Coupon Code</label>
                        <input type="text" placeholder="Enter Coupon Code" [formField]="addForm.couponCode"
                            class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-1 focus:ring-blue-700" />
                        @if (addForm.couponCode().invalid()&& addForm.couponCode().touched())
                        {
                        <p class="text-red-600 text-xs mt-1">{{ addForm.couponCode().errors()[0].message }}</p>
                        }
                    </div>
                    <div class="flex-1">
                        <label class="font-bold text-md sm:text-lg mb-2 block">Discount Value</label>
                        <input type="number" (keydown)="allowOnlyNumbers($event)" placeholder="Enter Discount Value" [formField]="addForm.discountValue"
                            class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-1 focus:ring-blue-700" />
                        @if (addForm.discountValue().invalid()&& addForm.discountValue().touched())
                        {
                        <p class="text-red-600 text-xs mt-1">{{ addForm.discountValue().errors()[0].message }}</p>
                        }
                    </div>
                </div>
                <div class="flex gap-4 flex-col sm:flex-row">
                    <div class="flex-1">
                        <label class="font-bold text-md sm:text-lg mb-2 block">Minimum Order Amount</label>
                        <input type="number" (keydown)="allowOnlyNumbers($event)" placeholder="Enter Minimum Order" [formField]="addForm.minimumOrderAmount"
                            class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-1 focus:ring-blue-700" />
                        @if (addForm.minimumOrderAmount().invalid()&& addForm.minimumOrderAmount().touched())
                        {
                        <p class="text-red-600 text-xs mt-1">{{ addForm.minimumOrderAmount().errors()[0].message }}</p>
                        }
                    </div>

                    <div class="flex-1">
                        <label class="font-bold text-md sm:text-lg mb-2 block">Minimum Usage</label>
                        <input type="number" (keydown)="allowOnlyNumbers($event)" placeholder="Enter Minimum Usage"
                            [formField]="addForm.minimumNumberOfUsage"
                            class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-1 focus:ring-blue-700" />
                        @if (addForm.minimumNumberOfUsage().invalid()&& addForm.minimumNumberOfUsage().touched())
                        {
                        <p class="text-red-600 text-xs mt-1">{{ addForm.minimumNumberOfUsage().errors()[0].message }}
                        </p>
                        }
                    </div>
                </div>
                <div class="flex gap-4 flex-col sm:flex-row">
                    <div class="flex-1">
                        <label class="font-bold text-md sm:text-lg mb-2 block">Start Date</label>
                        <input type="date" [formField]="addForm.startDate"
                            class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-1 focus:ring-blue-700" />
                        @if (addForm.startDate().invalid()&& addForm.startDate().touched())
                        {
                        <p class="text-red-600 text-xs mt-1">{{ addForm.startDate().errors()[0].message }}</p>
                        }
                    </div>
                    <div class="flex-1">
                        <label class="font-bold text-md sm:text-lg mb-2 block">End Date</label>
                        <input type="date" [formField]="addForm.endDate"
                            class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-1 focus:ring-blue-700" />
                        @if (addForm.endDate().invalid() && addForm.endDate().touched())
                        {
                        <p class="text-red-600 text-xs mt-1">{{ addForm.endDate().errors()[0].message }}</p>
                        }
                    </div>
                </div>
                <div>
                    <label class="font-bold text-md sm:text-lg mb-2 block">Coupon Description</label>
                    <textarea rows="4" placeholder="Enter Coupon Description" [formField]="addForm.couponDescription"
                        class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-1 focus:ring-blue-700">
                    </textarea>
                    @if (addForm.couponDescription().invalid()&& addForm.couponDescription().touched())
                    {
                    <p class="text-red-600 text-xs mt-1">{{ addForm.couponDescription().errors()[0].message }}</p>
                    }
                </div>
                <div class="flex w-full gap-4">

                    <button type="button" (click)="handleAddCouponClick()" [disabled]="progress()"
                        class="flex-1 bg-green-800 text-white font-bold py-3 rounded-lg hover:bg-green-900 cursor-pointer">
                        {{ progress() ? 'Saving...' : 'Add Coupon' }}
                    </button>
                    <button type="button" (click)="resetForm()"
                        class="flex-1 bg-blue-700 text-white font-bold py-3 rounded-lg hover:bg-blue-900 cursor-pointer">
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>

</section>