bin/
logs/
obj/
appsettings.json
appsettings.Development.json

# Node / Angular
node_modules/
dist/
.angular/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# VS Code optional
.vscode/

Backend/publish.zip
Backend/publish-clean.zip
Backend/Ecommerce.API/publish-clean-final.zip
Backend/Ecommerce.API/publish-cleand.zip
Backend/Ecommerce.API/publish-cleaned.zip