<section class="bg-white p-2 md:px-6 lg:px-8 mt-4 lg:py-4">
    <div class="pb-4 flex items-center justify-center">
        <h1 class="text-blue-950 font-extrabold text-center text-2xl">
            Register Admin
        </h1>
    </div>
    <div class="flex justify-center px-2">
        <div class="bg-white rounded-2xl shadow-2xl shadow-white/30 w-full max-w-4xl p-8 space-y-6">
            @if(successMessage()) {
            <div class="bg-green-600 px-4 py-3 rounded-md text-white text-center font-bold">{{successMessage()}}</div>
            }
            @if(errorMessage())
            {
            <div class="bg-red-600 px-4 py-3 rounded-sm text-white text-center font-bold"> {{errorMessage()}} </div>
            }
            <form (ngSubmit)="handleRegisterClick()" class="flex flex-col gap-5">
                <div class="flex gap-4 flex-col sm:flex-row">
                    <div class="flex-1">
                        <label class="font-bold text-lg mb-2 block">Email</label>
                        <input type="email" placeholder="Enter your Email"
                            [formField]="registerForm.requestRegisterUserDTO.email"
                            class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-1 focus:ring-blue-700" />
                        @if (registerForm.requestRegisterUserDTO.email().touched() &&
                        registerForm.requestRegisterUserDTO.email().invalid())
                        {
                        <p class="text-red-600 text-xs mt-1">{{
                            registerForm.requestRegisterUserDTO.email().errors()[0].message }}</p>
                        }
                    </div>
                    <div class="flex-1">
                        <label class="font-bold text-lg mb-2 block">Phone Number</label>
                        <input type="text" placeholder="Enter your Phone Number"
                            [formField]="registerForm.requestRegisterUserDTO.phoneNumber"
                            class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-2 focus:ring-blue-700" />
                        @if (registerForm.requestRegisterUserDTO.phoneNumber().touched() &&
                        registerForm.requestRegisterUserDTO.phoneNumber().invalid())
                        {
                        <p class="text-red-600 text-xs mt-1">{{
                            registerForm.requestRegisterUserDTO.phoneNumber().errors()[0].message }}</p>
                        }
                    </div>
                </div>
                <div class="flex gap-4 flex-col sm:flex-row">
                    <div class="flex-1">
                        <label class="font-bold text-lg mb-2 block">First Name</label>
                        <input placeholder="Enter your First Name"
                            [formField]="registerForm.requestRegisterUserDTO.firstName"
                            class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-2 focus:ring-blue-700" />
                        @if (registerForm.requestRegisterUserDTO.firstName().touched() &&
                        registerForm.requestRegisterUserDTO.firstName().invalid())
                        {
                        <p class="text-red-600 text-xs mt-1">{{
                            registerForm.requestRegisterUserDTO.firstName().errors()[0].message }}</p>
                        }
                    </div>
                    <div class="flex-1">
                        <label class="font-bold text-lg mb-2 block">Last Name</label>
                        <input placeholder="Enter your Last Name"
                            [formField]="registerForm.requestRegisterUserDTO.lastName"
                            class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-2 focus:ring-blue-700" />
                        @if (registerForm.requestRegisterUserDTO.lastName().touched() &&
                        registerForm.requestRegisterUserDTO.lastName().invalid())
                        {
                        <p class="text-red-600 text-xs mt-1">{{
                            registerForm.requestRegisterUserDTO.lastName().errors()[0].message }}</p>
                        }
                    </div>
                </div>
                <div>
                    <label class="font-bold text-lg mb-2 block">Password</label>
                    <input type="password" placeholder="Enter your Password"
                        [formField]="registerForm.requestRegisterUserDTO.password"
                        class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-2 focus:ring-blue-700" />
                    @if (registerForm.requestRegisterUserDTO.password().touched() &&
                    registerForm.requestRegisterUserDTO.password().invalid())
                    {
                    <p class="text-red-600 text-xs mt-1">{{
                        registerForm.requestRegisterUserDTO.password().errors()[0].message }}</p>
                    }
                </div>
                <div>
                    <label class="font-bold text-lg mb-2 block">Admin Role</label>
                    <select [formField]="registerForm.adminRoleId"
                        class="w-full border rounded-lg px-4 py-3 outline-none focus:ring-2 focus:ring-blue-700">
                        <option value="">Select Admin Role</option>
                        <option value="2">Vendor Admin</option>
                        <option value="3">Product Admin</option>
                        <option value="4">Order Admin</option>
                        <option value="5">Shipment Admin</option>
                        <option value="6">Return Admin</option>
                        <option value="7">Refund Admin</option>
                        <option value="8">Payment Admin</option>
                        <option value="9">Report Admin</option>
                    </select>
                </div>
                <div class="flex w-full gap-4">
                    <button type="submit"
                        class="flex-1 bg-green-800 text-white font-bold py-3 rounded-lg hover:bg-green-900 cursor-pointer">
                        Submit
                    </button>
                    <button type="button" (click)="resetFilter()"
                        class="flex-1 bg-blue-700 text-white font-bold py-3 rounded-lg hover:bg-blue-900 cursor-pointer">
                        Reset
                    </button>
                </div>

            </form>
        </div>
    </div>
</section>