<section class="bg-white px-8 py-8">
    <app-header-component [title]="pageTitle()" [filterApplied]="filterApplied()" (toggle)="toggleFilterPanel()"
        (reset)="resetFilters()">
    </app-header-component>

    <app-filter-component [open]="filterPanelOpen()" title="Attribute Filters" (close)="closeFilterPanel()"
        (toggle)="toggleFilterPanel()" [errorMessage]="filterErrorMessage()" (apply)="applyFilters()"
        (reset)="resetFilters()">

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Search</label>
            <input type="text" placeholder="Product name..." [formField]="filterForm.searchTerm"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            @if (filterForm.searchTerm().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.searchTerm().errors()[0].message }}</p>
            }
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Vendor ID</label>
            <input type="number" placeholder="Vendor ID" [formField]="filterForm.vendorId"
                (keydown)="allowOnlyNumbers($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            @if (filterForm.vendorId().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.vendorId().errors()[0].message }}</p>
            }
        </div>

        @if(this.status() == null && this.deleted() == false){
        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Approval Status</label>
            <select (change)="onApprovalStatusChange($event)" [value]="draftstatus() ?? ''"
                class="border border-gray-400 rounded-md px-3 py-2 w-full">
                <option value="">All</option>
                @for(opt of approvalStatusOptions; track opt.id) {
                <option [value]="opt.id">{{opt.label}}</option>
                }
            </select>
        </div>
        }
        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Product Status</label>
            <select (change)="onProductStatusChange($event)" [value]="productStatusId() ?? ''"
                class="border border-gray-400 rounded-md px-3 py-2 w-full">
                <option value="">All</option>
                @for(opt of productStatusOptions; track opt.id) {
                <option [value]="opt.id">{{opt.label}}</option>
                }
            </select>
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Category</label>
            <select (change)="onCategoryChange($event)" [value]="productCategoryId() ?? ''"
                class="border border-gray-400 rounded-md px-3 py-2 w-full">
                <option value="">All</option>
                @for(cat of categories(); track cat.productCategoryId) {
                <option [value]="cat.productCategoryId">
                    {{cat.productCategoryName}}
                </option>
                }
            </select>
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Sub Category</label>
            <select (change)="onSubcategoryChange($event)" [value]="productSubCategoryId() ?? ''"
                class="border border-gray-400 rounded-md px-3 py-2 w-full" [disabled]="!productCategoryId()">
                @if(!productCategoryId()) {
                <option value="">Select category first</option>
                }
                @else{
                <option value="">All</option>
                }
                @for(sub of subCategories(); track sub.productSubCategoryId) {
                <option [value]="sub.productSubCategoryId">
                    {{sub.productSubCategoryName}}
                </option>
                }
            </select>
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Reviewed Admin Id</label>
            <input type="number" placeholder="Admin ID" [formField]="filterForm.addedId"
                (keydown)="allowOnlyNumbers($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />
            @if (filterForm.addedId().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.addedId().errors()[0].message }}</p>
            }
        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Price Range</label>
            <div class="flex gap-2">
                <input type="number" placeholder="Min" [formField]="filterForm.minPrice"
                    (keydown)="allowOnlyDecimals($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />

                <input type="number" placeholder="Max" [formField]="filterForm.maxPrice"
                    (keydown)="allowOnlyDecimals($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />

            </div>
            @if (filterForm.minPrice().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.minPrice().errors()[0].message }}</p>
            }
            @if (filterForm.maxPrice().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.maxPrice().errors()[0].message }}</p>
            }

        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Available Quantity</label>
            <div class="flex gap-2">
                <input type="number" placeholder="Min" [formField]="filterForm.minAvailableQuantity"
                    (keydown)="allowOnlyNumbers($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />

                <input type="number" placeholder="Max" [formField]="filterForm.searchTerm"
                    (keydown)="allowOnlyNumbers($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />

            </div>
            @if (filterForm.minAvailableQuantity().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.minAvailableQuantity().errors()[0].message }}</p>
            }
            @if (filterForm.maxAvailableQuantity().invalid())
            {
            <p class="text-red-600 text-xs mt-1">{{ filterForm.maxAvailableQuantity().errors()[0].message }}</p>
            }

        </div>

        <div>
            <label class="block text-sm font-semibold text-gray-700 mb-1">Reserved Quantity</label>
            <div class="flex gap-2">
                <input type="number" placeholder="Min" [formField]="filterForm.minReservedQuantity"
                    (keydown)="allowOnlyNumbers($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />
                @if (filterForm.minReservedQuantity().invalid())
                {
                <p class="text-red-600 text-xs mt-1">{{ filterForm.minReservedQuantity().errors()[0].message }}</p>
                }
                <input type="number" placeholder="Max" [formField]="filterForm.maxReservedQuantity"
                    (keydown)="allowOnlyNumbers($event)" class="border border-gray-400 rounded-md px-3 py-2 w-full" />
                @if (filterForm.maxReservedQuantity().invalid())
                {
                <p class="text-red-600 text-xs mt-1">{{ filterForm.maxReservedQuantity().errors()[0].message }}</p>
                }
            </div>

        </div>

        <div class="flex items-center gap-2">
            <input type="checkbox" id="hasIssues" [checked]="hasIssues()" (change)="onHasIssuesChange($event)" />
            <label for="hasIssues" class="text-sm font-semibold text-gray-700">Has Issues</label>
        </div>

        <div class="flex items-center gap-2">
            <input type="checkbox" id="availableForSale" [checked]="isAvailableForSale()"
                (change)="onAvailableForSaleChange($event)" />
            <label for="availableForSale" class="text-sm font-semibold text-gray-700">Available For Sale</label>
        </div>

    </app-filter-component>

    <app-data-table-component [columns]="columns" [rows]="products()?.items ?? []" [actions]="actions"
        (action)="handleAction($event)">
    </app-data-table-component>

    <app-mobile-card-component [columns]="mobileColumns" [rows]="products()?.items ?? []" [actions]="actions"
        [titleKey]="'productId'" (action)="handleAction($event)">
    </app-mobile-card-component>

    <app-pagination-component [pageNumber]="pageNumber()" [totalPages]="totalPages()"
        [totalCount]="products()?.totalCount ?? 0" [pageSize]="pageSize()" (previous)="previousPage()"
        (next)="nextPage()" (pageSizeChange)="onPageSizeChanged($event)">
    </app-pagination-component>

    <app-delete-popup-components [show]="showDeletePopup()" title="Delete Product"
        message="Are you sure you want to delete this product? This action is permanent and cannot be undone."
        confirmText="Delete Product" [remarkField]="deleteForm.remark" [loading]="progress()"
        [errorMessage]="errorMessage() ?? ''" [successMessage]="successMessage() ?? ''" (confirm)="onConfirmDelete()"
        (cancel)="onCancelDelete()">
    </app-delete-popup-components>

    <app-review-popup-component [show]="showReviewPopup()" title="Review Product" [showAiCheck]="true"
        [aiReview]="aiReview()" [loadingAi]="loadingAi()"
        message="Review this product by selecting an approval status and providing your remarks. Your review will update the product's approval status."
        confirmText="Submit Review" [statusField]="reviewForm.approvalStatusId" [statusOptions]="approvalStatusOption"
        [remarkField]="reviewForm.remark" [loading]="progress()" [errorMessage]="errorMessage() ?? ''"
        [successMessage]="successMessage() ?? ''" (confirm)="onConfirmReview()" (cancel)="onCancelReview()"
        (aiCheckRequested)="runAiReview(reviewProductModel().productId)">
    </app-review-popup-component>
</section>